@charset "UTF-8";

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

.login-cad{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(250, 148, 216, 0.25);
    border-radius: 10px;
}

.login-cad h1{
    text-align: center;
    margin: 5px;
    color: rgba(76, 3, 76, 0.524);
}

.dados{
    padding: 10px;
    display: flex;
    flex-direction: column;
    outline: none;
    width: 50%;
}
.dados label{
    color: rgba(76, 3, 76, 0.524);
    opacity: 50%;
}

.dados input{
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.botao{
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;
}

.botao input{
    color: rgb(255, 255, 255);
    background-color: rgba(76, 3, 76, 0.524);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.botao-reseta{
    margin: 15px;
}

.botao-reseta a{
    text-decoration: none;
    color: rgba(76, 3, 76, 0.524);
}

.botao-reseta a:hover{
    color: rgb(76, 3, 76);
}